<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSocialMediaIntegration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D046EFAA208DFDCF00071F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D046EFC1208DFDD700071F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D046EFCC208DFDD800071F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
